<ion-view view-title="Dash">
    <ion-content ng-class="{expanded:$scope.isExpanded}">

        <!-- Pie chart-->

        <div class="card">
            <div class="item item-divider item-calm">
                <div class="centerfont">
                    <i class="icon ion-earth"></i>
                </div>
            </div>
            <div class="item item-text-wrap" style="padding-bottom:0px;padding-top:0px">


                <highchart config="chartPie" class="Chartcenter"></highchart>

            </div>
            <div class="item item-divider ">

            </div>
        </div>
        <!-- Pie chart-->

        <!-- area chart -->
        <div class="card">
            <div class="item item-divider item-calm">
                <div class="centerfont">
                    <i class="icon ion-earth"></i>
                </div>
            </div>
            <div class="item item-text-wrap" style="padding:0px">


                <highchart config="chartarea" class="Chartcenter"></highchart>

            </div>
            <div class="item item-divider ">

            </div>
        </div>
        <!-- area chart -->
        <!-- Donut     -->
        <div class="card">
            <div class="item item-divider item-calm">
                <div class="centerfont">
                    <i class="icon ion-earth"></i>
                </div>
            </div>
            <div class="item item-text-wrap" >


                <highchart config="chartDonut"></highchart>

            </div>
            <div class="item item-divider ">

            </div>
        </div>


        <!-- Donut     -->








    </ion-content>
</ion-view>
