<ion-view view-title="feel" align-title="left">
    <ion-pane>
        <!--<ion-header-bar class="bar bar-clear">-->
            <!--<h1 class="title">Expense Home</h1>-->
        <!--</ion-header-bar>-->
        <ion-content class="no-header" style="background: url(img/prototype/sap_app_3.jpg) center; background-size: cover;">

            <div class="eag-home-container-flex" style="position: relative; top: 115px;">
                <div class="eag-home-container">
                    <div class ="row">
                        <div class="col">
                            <button ui-sref="app.profile" class="button button-stable button-clear eag-home-button"><img src="img/emojis/super_energetic.png" ></button><p class="eag-home-label"></p></div>

                        <div class="col"><button ui-sref="app.profile" class="button button-stable button-clear eag-home-button"><img src="img/emojis/relaxed.png" ></button><p class="eag-home-label"></p></div>

                    </div>
                    <div class ="row">
                        <div class="col"><button ui-sref="app.profile" class="button button-stable button-clear eag-home-button"><img src="img/emojis/little_tired.png" ></button><p class="eag-home-label"></p></div>
                        <div class="col"><button ui-sref="app.profile" class="button button-stable button-clear eag-home-button"><img src="img/emojis/exhausted.png" ></button><p class="eag-home-label"></p></div>

                    </div>
                    <div class ="row">
                        <div class="col"><button ui-sref="app.profile" class="button button-stable button-clear eag-home-button"><img src="img/emojis/little_nervous.png" ></button><p class="eag-home-label"></p></div>
                        <div class="col"><button ui-sref="app.profile" class="button button-stable button-clear eag-home-button"><img src="img/emojis/stressed_out.png" ></button><p class="eag-home-label"></p></div>

                    </div>
                    <div class = "row text-center">


                        <div class="col " style="position:relative;top: 40px;;">

                            <button ui-sref="app.profile" class="button button-balanced button-raised icon-right ion-ios-color-wand" data-ink-color="#CD3385" data-ink-opacity=".8">Skip</button>

                        </div>
                    </div>
                </div>
            </div>

        </ion-content>
    </ion-pane>
</ion-view>
