<ion-view view-title="Explore" style="background-image: url('img/prototype/sap_app_bg.jpg');background-size:cover;" >
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in" >
        <div class="list " >
            <div class="list" style="opacity: 0.9;">
                <div ng-controller="ModalCtrl" class="card card-gallery item item-text-wrap">
                    <div class="ink dark-bg" >
                        <img class="full-image" src="img/redeem/walkyourway.jpg">
                        <!--<h2><strong>Join Bootcamp right now</strong> </h2>-->

                    </div>
                    <div class = "row">
                             <h2 style="background-color:white"  >Because of <strong> high risk of stress and low activity level</strong> lately  <br>

                                 <div class="item tabs  ">
                                <a class="tab-item balanced-bg  "  ng-click="modal.show()">
                                  <i class="ico"> Explore</i>
                                </a>
                              </div>
                         </h2>
                    </div>

                </div>
                <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                    <div class="ink dark-bg">
                        <!--<h2><strong>Join walk Your Way to Health</strong></h2>-->

                        <img class="full-image" src="img/redeem/bootcamp.jpg">
                    </div>
                    <div class = "row">
                        <h2 style="background-color:white"  >Because of your <strong> paternity leave </strong> submitted a week ago
                            <div class="item tabs  ">
                                <a class="tab-item balanced-bg  "  ng-click="modal.show()">
                                    <i class="ico"> Explore</i>
                                </a>
                            </div>
                        </h2>
                    </div>
                </div>
            <!--<div ui-sref="app.profile" class="card card-gallery item item-text-wrap">-->
                <!--<div class="ink dark-bg">-->
                    <!--<img class="full-image" src="img/redeem/airzoom.jpg">-->
                    <!--<h2>Redeem Air Zoom Running Shoes?-->
                        <!--<strike>120 Point</strike> 100 Point!</h2>-->
                <!--</div>-->
                <!--<div class="item tabs tabs-secondary tabs-icon-left">-->
                    <!--<a class="tab-item stable-bg assertive">-->
                        <!--<i class="icon ion-heart"></i>-->
                        <!--4-->
                    <!--</a>-->
                    <!--<a class="tab-item light-bg positive-900">-->
                        <!--<i class="icon ion-chatbubbles"></i>-->
                        <!--2-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div ui-sref="app.profile" class="card card-gallery item item-text-wrap">-->
                <!--<div class="ink dark-bg">-->

                    <!--<img class="full-image" src="img/redeem/yogamat.jpg">-->
                    <!--<h2>Redeem Yoga Mate? <strike>60 Point</strike> <strong>  40 Point!</strong></h2>-->
                <!--</div>-->
                <!--<div class="item tabs tabs-secondary tabs-icon-left">-->
                    <!--<a class="tab-item stable-bg assertive">-->
                        <!--<i class="icon ion-heart"></i>-->
                        <!--6-->
                    <!--</a>-->
                    <!--<a class="tab-item stable-bg positive-900">-->
                        <!--<i class="icon ion-chatbubbles"></i>-->
                        <!--1-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        </div>
    </ion-content>
</ion-view>
<script id="templates/modal.html" type="text/ng-template ">
    <ion-modal-view style="background-image: url('img/prototype/sap_app_bg.jpg');background-size:cover;" >
        <ion-header-bar class="bar bar-header bar-balanced" style="opacity: 0.3;">
            <!--<h1 >Group Detail</h1>-->
            <!--<a class="button icon-left ion-chevron-left button-clear button-dark">Back</a>-->
            <button class="button icon-left ion-chevron-left button-clear button-dark "  ng-click="modal.hide()"></button>
        </ion-header-bar>

        <ion-content class="padding">
            <div class="ink dark-bg">
                <img class="full-image" src="img/redeem/walkyourway.jpg">
                <!--<h2><strong>Join Bootcamp right now</strong> </h2>-->
            </div>
            <div class="card">
                <div class="item item-text-wrap">
                    <h2>Walk Your Way to Health</h2>
                    <h3 class="ink-float">Because of <strong>high risk of stress and low activity level</strong></h3>
                    <h3>280+ Joined</h3>
                    <h3 style="border-style: solid" >Jan 20,2016 - Mar 31,2015</h3>
                </div>
                </div>
            <div class="card">
                <div class="item item-divider" href="#">
                    <h3>Track Steps</h3>
                </div>
                </div>
            <div class="card">
                <div class="item item-text-wrap" href="#">
                    <h3>Program Details</h3>
                    <h4>Hey you - step away from your computer ,smart phone or TV screen and start moving! Compete with others and watch your step count grow.</h4>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap" href="#">
                    <h3>Rewards</h3>
                    <h4>1. 200 points for grand winner.</h4>
                    <h4>2. 100 points for participants with 100,00 steps.</h4>
                </div>
            </div>

            <div class="card">

                <div class="item item-divider">
                    <h3>Recommended App</h3>
                    <h4>Endmondo</h4>
                </div>

            </div>

            <button class="button button-full button-positive" ng-click="modal.hide()">
                Join
            </button>
            <!--<div class="list">-->
                <!--<label class="item item-input">-->
                    <!--<span class="input-label">First Name</span>-->
                    <!--<input ng-model="newUser.firstName" type="text">-->
                <!--</label>-->
                <!--<label class="item item-input">-->
                    <!--<span class="input-label">Last Name</span>-->
                    <!--<input ng-model="newUser.lastName" type="text">-->
                <!--</label>-->
                <!--<label class="item item-input">-->
                    <!--<span class="input-label">Email</span>-->
                    <!--<input ng-model="newUser.email" type="text">-->
                <!--</label>-->
                <!--<button class="button button-full button-positive" ng-click="createContact(newUser)">Create</button>-->
            <!--</div>-->
        </ion-content>
    </ion-modal-view>
</script>