<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/prototype/sap_app_home.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <!--<div class="app-icon"></div>-->
                <h2 style="color: white" >Path to Wellness</h2>
                <h3>Start the journey today to a healthier you.</h3>
            </div>
        </div>
        <div class="list">
            <ion-md-input placeholder="I-Number" highlight-color="royal" type="text"></ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="royal" type="password"></ion-md-input>
        </div>
        <div class="padding">
            <button ui-sref="app.welcomeback" class="button button-full button-assertive ink">Login</button>
        </div>
        <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div>
    </ion-content>
</ion-view>
