<ion-view view-title="Privacy" align-title="left">
    <ion-content style="background: url(img/prototype/sap_app_bg.jpg ) 30%; background-size: cover;">
        <!--<div class="hero  flat">-->
        <!--&lt;!&ndash;<div class="content">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="user-icon"></div>&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<h3>Empoyee Wellness Central</h3>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
        <div class="hero no-header flat">
            <div class="content">
                <!--<div class="app-icon"></div>-->
                <h2 style="color: ghostwhite ; position:relative;top:110px;"  >Privacy Agreement</h2>
                <h4 style="color: ghostwhite ; position:relative;top:130px;" >Employee Wellness Central will only use data collected in aggregate from for statistical purpose and the improvement of wellness programs.These data do not provide any personally identifying information to your employer</h4>
            </div>
            <button class="button button-outline button-light ink ink-dark" style="color: ghostwhite ; position:relative;top:400px;">
                Read Detailed Policy
            </button>
        </div>
        <!--<div class="item card-item" style="position: relative; top: 150px; ">-->
            <!--<div  class="card stable-bg ink ink-dark" style="background-color: transparent;">-->
                <!--<div class="item  item-text-wrap">-->
                    <!--&lt;!&ndash;<span class="avatar" style="background-image: url('img/Mani.png');"></span>&ndash;&gt;-->
                    <!--Connect your favorite apps to get a complete picture of your wellness.-->

                    <!--<div class="card-footer text-right">-->
                        <!--&lt;!&ndash;<i class="icon ion-chatbubble positive"></i> 2&ndash;&gt;-->
                        <!--&lt;!&ndash;<i class="icon ion-heart assertive"></i> 4&ndash;&gt;-->
                        <!--<div class="pull-left">-->
                            <!--<i class="icon ion-clock"></i> last log in 50 mins ago-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->


            <div class="tabs tabs-calm" >
                <a ui-sref="app.login" class="tab-item">
                    Reject
                </a>
                <a>
                    |
                </a>

                <a ui-sref="app.feel" class="tab-item">
                     Agree
                </a>

            </div>


                <!--<div class="button-bar social-login">-->
                <!--<button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>-->
                <!--<button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>-->
                <!--<button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>-->
                <!--</div>-->
    </ion-content>
</ion-view>
