<ion-view view-title="Redeem" style="background-image: url('img/prototype/sap_app_bg.jpg');background-size:cover;" >
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in" >
        <div class="hero" style="background-image: url('img/prototype/sap_app_bg.jpg'); ">
            <div class="content" style="position: relative;top: 10px;">
                <div class="avatar" style="background-image: url('img/eric.png');"></div>
                <h3><a class="light">Eric Stark</a></h3>
                <h5 style="color:white ">Health Score</h5>
                <p><i class="icon ion-arrow-up-a"style="color:white;">20%</i></p>
                <h6 style="color:white; position:relative;top: -25px;"> Point 780 |  Program 12 </h6>
            </div>
        </div>


        <div class="tabs  tabs-icon-top static" style="opacity:0.7" >
            <a class="tab-item">
                <i class="icon ion-cash"></i> Cash
            </a>
            <a class="tab-item active" >
                <i class="icon ion-ios-box-outline"></i> Gift
            </a>
            <a  class="tab-item">
                <i class="icon ion-ios-glasses-outline"></i> Research
            </a>
            <a  class="tab-item">
                <i class="icon ion-ios-heart-outline"></i> Charity
            </a>

        </div>
        <div class="list " >
            <div class="list" >

                <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                    <div class="ink dark-bg">
                        <img class="full-image" src="img/redeem/airzoom.jpg">
                        <h2>Redeem Air Zoom Running Shoes?
                            <strike>120 Point</strike> 100 Point!</h2>
                    </div>
                    <div class="item tabs tabs-secondary tabs-icon-left" style="background-color: white">
                        <a class="tab-item light-bg assertive">
                            <i class="icon ion-heart"></i>
                            4
                        </a>
                        <a class="tab-item light-bg positive-900">
                            <i class="icon ion-chatbubbles"></i>
                            2
                        </a>
                    </div>
                </div>
                <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                    <div class="ink dark-bg">

                        <img class="full-image" src="img/redeem/yogamat.jpg">
                        <h2>Redeem Yoga Mate? <strike>60 Point</strike> <strong>  40 Point!</strong></h2>
                    </div>
                    <div class="item tabs tabs-secondary tabs-icon-left" style="background-color: white">
                        <a class="tab-item light-bg assertive">
                            <i class="icon ion-heart"></i>
                            6
                        </a>
                        <a class="tab-item light-bg positive-900">
                            <i class="icon ion-chatbubbles"></i>
                            1
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

</script>