<ion-view view-title="welcome back" align-title="left">
    <ion-content style="background: url(img/welcomeback.jpg ) 30%; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="user-icon"></div>
                <!--<h3>Empoyee Wellness Central</h3>-->
            </div>
        </div>
        <div class="item card-item">
            <div  class="card stable-bg ink ink-dark">
                <div class="item  item-text-wrap">
                    <!--<span class="avatar" style="background-image: url('img/Mani.png');"></span>-->
                    Connect your favorite apps to get a complete picture of your wellness.

                    <div class="card-footer text-right">
                        <!--<i class="icon ion-chatbubble positive"></i> 2-->
                        <!--<i class="icon ion-heart assertive"></i> 4-->
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> last log in 50 mins ago
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="padding">
            <div class = "row text-center">
                <div class="col ">

                <button class="button square button-calm button-raised icon-right ion-ios-color-wand" data-ink-color="#CD3385" data-ink-opacity=".8"></button>
                <button class="button square button-calm button-raised icon-right ion-ios-color-wand" data-ink-color="#CD3385" data-ink-opacity=".8"></button>
                <button class="button square button-calm button-raised icon-right ion-ios-color-wand" data-ink-color="#CD3385" data-ink-opacity=".8"></button>
               </div>
            </div>
            <div class = "row text-center">
                <div class="col ">
                    <button class="button square button-clear ">health</button>
                    <button class="button square button-clear ">Fitbit</button>
                    <button class="button square button-clear ">Up</button>
            <div class = "row text-center">

                <div class="col ">

                    <button ui-sref="app.profile" class="button button-calm button-raised icon-right ion-ios-color-wand" data-ink-color="#CD3385" data-ink-opacity=".8">Skip</button>

                </div>
            </div>
        </div>

        <!--<div class="button-bar social-login">-->
            <!--<button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>-->
            <!--<button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>-->
            <!--<button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>-->
        <!--</div>-->
    </ion-content>
</ion-view>
