<ion-view view-title="welcome back" align-title="left">
    <ion-content style="background: url(img/prototype/sap_app_2.jpg ) 30%; background-size: cover;">
        <!--<div class="hero  flat">-->
            <!--&lt;!&ndash;<div class="content">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="user-icon"></div>&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<h3>Empoyee Wellness Central</h3>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
        <div class="item card-item" style="position: relative; top: 150px; ">
            <div  class="card stable-bg ink ink-dark" style="background-color: transparent;">
                <div class="item  item-text-wrap">
                    <!--<span class="avatar" style="background-image: url('img/Mani.png');"></span>-->
                    Connect your favorite apps to get a complete picture of your wellness.

                    <div class="card-footer text-right">
                        <!--<i class="icon ion-chatbubble positive"></i> 2-->
                        <!--<i class="icon ion-heart assertive"></i> 4-->
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> last log in 50 mins ago
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="padding" style="position: relative; top: 150px;">
            <div class = "row text-center">
                <div class="col ">

                <button class="button square button-clear button-raised icon-right ion-ios-color-wand" data-ink-color="#CD3385" data-ink-opacity=".8"><img src="img/prototype/health_icon.jpg" style="-webkit-background-size:background-size: cover;"  ></button>
                <button class="button square button-clear button-raised icon-right ion-ios-color-wand" data-ink-color="#CD3385" data-ink-opacity=".8"><img src="img/prototype/fitbit_icon.jpg" style="-webkit-background-size:background-size: cover;"  ></button>
                <button class="button square button-clear button-raised icon-right ion-ios-color-wand" data-ink-color="#CD3385" data-ink-opacity=".8"><img src="img/prototype/up_icon.jpg" style="-webkit-background-size:background-size: cover;"  ></button>
               </div>
            </div>
            <div class = "row text-center">
                <div class="col ">
                    <button class="button square button-clear " style="color: white">health</button>
                    <button class="button square button-clear "style="color: white">Fitbit</button>
                    <button class="button square button-clear "style="color: white">Up</button>
            <div class = "row text-center">

                <div class="col " style="position: relative; top: 100px;">

                    <button ui-sref="app.feel" class="button button-calm button-raised icon-right ion-ios-color-wand" data-ink-color="#CD3385" data-ink-opacity=".8">Skip</button>

                </div>
            </div>
        </div>

        <!--<div class="button-bar social-login">-->
            <!--<button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>-->
            <!--<button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>-->
            <!--<button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>-->
        <!--</div>-->
    </ion-content>
</ion-view>
